<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Index Tab -->
  <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/index">
    <ion-nav-view name="tab-index"></ion-nav-view>
  </ion-tab>

  <!-- Share Tab ion-ios-color-filter-outline -->
  <ion-tab title="分享" icon-off="ion-ios-color-filter-outline" icon-on="ion-ios-color-filter" href="#/tab/share">
    <ion-nav-view name="tab-share"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="个人中心" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
